
sur_C/raw_data/S123_ae5847ba7b354f0aa8b693dbc63b40f9_CSV (5).zipZone.Identifier
sur_C/raw_data/Sur_C_02082023.zip
sur_C/raw_data/Sur_C_04082023.zip
sur_C/raw_data/Sur_C_04082023.zipZone.Identifier
sur_C/raw_data/Sur_C_07062023.zip
sur_C/raw_data/Sur_C_07062023.zipZone.Identifier
sur_C/raw_data/sur_C_16052023.zip
sur_C/raw_data/sur_C_16052023.zipZone.Identifier
sur_C/raw_data/sur_C_23052023.zip
sur_C/raw_data/sur_C_24052023.zip
sur_C/raw_data/sur_C_27072023.zip
sur_C/raw_data/sur_C_raw/Adapative_Capacity_Survey_0.csv
sur_C/raw_data/sur_C_raw/boat_table_2.csv
sur_C/raw_data/sur_C_raw/practice_table_1.csv
survey_results.zip
sur_A/indicator_transform.ipynb
sur_A/raw_data/S123_ae5847ba7b354f0aa8b693dbc63b40f9_CSV (6).zipZone.Identifier
sur_A/raw_data/S123_dc0dab1a35054de7910a942862a1e153_CSV (3).zipZone.Identifier
sur_A/raw_data/Sur_A_21062023.zip
sur_A/raw_data/Sur_A_26072023.zip
sur_A/raw_data/sur_A_raw/Ecological Vulnerability Data Entry_0.csv
sur_A/raw_data/sur_A_raw/resource_table_1.csv
sur_A/raw_data/Sur_A_05062023.zip
sur_A/seagrass_association_lit_rev.csvZone.Identifier
sur_B/analyze/ArcMap_analysis/shapefiles/communities_raw.dbf
sur_B/analyze/ArcMap_analysis/shapefiles/communities_raw.prj
sur_B/analyze/ArcMap_analysis/shapefiles/communities_raw.sbx
sur_B/analyze/ArcMap_analysis/shapefiles/communities_raw.sbx
sur_B/analyze/ArcMap_analysis/shapefiles/communities_raw.shx
sur_B/analyze/ArcMap_analysis/shapefiles/communities_raw.shp
sur_B/analyze/ArcMap_analysis/shapefiles/communities_raw.shp.xml
sur_B/analyze/ArcMap_analysis/shapefiles/communities_raw.sbn
sur_B/analyze/schema.ini
sur_B/clean_up/Key species guide - Final species (2).csvZone.Identifier
sur_B/clean_up/Key species guide - Final species (3).csvZone.Identifier
sur_B/raw_data/Sur_B_03072023.zip
*.Identifier
sur_B/raw_data/sur_B_raw/capture_resource_table_2.csv
sur_B/raw_data/sur_B_raw/fish_pract_table_1.csv
*.zip
sur_B/raw_data/sur_B_raw/nutrition_sources_table_4.csv
sur_B/raw_data/sur_B_raw/other_income_table_3.csv
sur_B/raw_data/sur_B_raw/personal_identity_table_7.csv
sur_B/raw_data/sur_B_raw/social_resources_table_6.csv
sur_B/raw_data/sur_B_raw/tradition_resource_table_5.csv
sur_B/raw_data/sur_B_raw/Form_4_0.csv
